PORT=8080
ENVIRONMENT=development

COOKIE_SIGN=your-secret-with-minimum-length-of-32-characters

# AUTH_TYPE=redhat
# SSO_CLIENT_ID=your-sso-client-id
# SSO_CLIENT_SECRET=your-sso-client-secret
# SSO_ISSUER_HOST=https://your-sso-provider.com
# SSO_SCOPE=profile,email,session:role-any
# SSO_CALLBACK_URL=http://localhost:8080/auth/callback/oidc

AUTH_TYPE=google
SSO_CLIENT_ID=your-sso-client-id
SSO_CLIENT_SECRET=your-sso-client-secret
SSO_ISSUER_HOST=https://accounts.google.com/.well-known/openid-configuration
SSO_SCOPE=profile,email,openid,https://www.googleapis.com/auth/drive.metadata.readonly
SSO_CALLBACK_URL=http://localhost:8080/auth/callback/oidc

AGENT_HOST=http://localhost:5002
